@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

*{
  font-family: Outfit;
}
/* creating a custom class-name using that we can add play fair font on play fair font on particular element */
.font-playfair{
  font-family: Playfair !important; 
}
/* we are writting important because it will override the existing font-family on that particular element*/

